<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container-fluid" data-layout="container">

    <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
      <app-sidebar></app-sidebar>
    </nav>

    <div class="content">
      <app-navbar></app-navbar>
      <div class="row mb-3">
        <div class="col">
          <div class="card bg-100 shadow-none border">
            <div class="row gx-0 flex-between-center">
              <div class="col-sm-auto d-flex align-items-center"><img class="ms-n2"
                  src="../assets/img/illustrations/crm-bar-chart.png" alt="" width="90" />
                <div>
                  <h4 class="text-primary fw-bold mb-0">{{"Customers"|translate}} <span class="text-info fw-medium">MSP</span></h4>
                </div><img class="ms-n4 d-md-none d-lg-block" src="../assets/img/illustrations/crm-line-chart.png"
                  alt="" width="150" />
              </div>
              <div class="col-md-auto p-3">
                <button class="btn btn-primary me-1 mb-1" type="button" data-bs-toggle="modal"
                  data-bs-target="#error-modal1">{{"New"|translate}}</button>
               

                <!-- <form class="row align-items-center g-3">
                  <div class="col-auto">
                  <h6 class="text-700 mb-0">Showing Data For: </h6>
                  </div>
                  <div class="col-md-auto position-relative"><input
                      class="form-control form-control-sm datetimepicker ps-4" id="CRMDateRange" type="text"
                      data-options="{&quot;mode&quot;:&quot;range&quot;,&quot;dateFormat&quot;:&quot;M d&quot;,&quot;disableMobile&quot;:true , &quot;defaultDate&quot;: [&quot;Jun 24&quot;, &quot;Jul 01&quot;] }" /><span
                      class="fas fa-calendar-alt text-primary position-absolute top-50 translate-middle-y ms-2"> </span>
                  </div>
                </form>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <div class="row flex-between-end">
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="tab-content">
            <div class="tab-pane preview-tab-pane active" role="tabpanel"
              aria-labelledby="tab-dom-603ac24c-ea41-4c86-96c0-b0f750fb6de0"
              id="dom-603ac24c-ea41-4c86-96c0-b0f750fb6de0">
              <div id="tableExample2"
                data-list='{"valueNames":["name","email","age" , "payment", "id"],"page":5,"pagination":true , "filter": true, "fallback":"pages-table-fallback"}'>
                <div class="row">
                  <div class="col-4">
                    <div class="col-auto px-3"> <select class="form-select form-select-sm mb-3"
                        aria-label="Bulk actions" data-list-filter="data-list-filter" [ngModel]="selectedDevice"
                        (ngModelChange)="onChange($event)">
                        <option selected="" value="">{{"All customers"|translate}}</option>
                        <option value="archived">{{"Archived customers"|translate}} </option>
                        <option value="active">{{"Active customers"|translate}}</option>
                      </select></div>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">

                    <div class="h-100">
                      <form>
                        <div class="input-group"><input class="form-control form-control-sm  search" type="search"
                            placeholder="Search for a ..." aria-label="search" />
                          <div class="input-group-text bg-transparent">
                            <span class="fa fa-search fs--1 text-600"></span>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="table-responsive scrollbar">



                  <table class="table table-bordered table-striped fs--1 mb-0">
                    <thead class="bg-200 text-900">
                      <tr>
                        <th class="sort" data-sort="name">{{"Custemer name"|translate}}</th>
                        <th class="sort" data-sort="email">{{"Email"|translate}}</th>
                        <th class="sort" data-sort="age">{{"City"|translate}}</th>
                        <th class="sort align-middle white-space-nowrap text-end pe-4">{{"Country"|translate}}</th>
                        <th class="sort align-middle white-space-nowrap text-end pe-4" *ngIf="archive">{{"Last Update"|translate}}</th>
                        <th class="sort align-middle white-space-nowrap text-end pe-4" *ngIf="archive">{{"Last archived by"|translate}}</th>
                        <th class="sort align-middle white-space-nowrap text-end pe-4" *ngIf="archive">{{"Archive date"|translate}}
                        </th>

                        <th class=" align-middle white-space-nowrap text-end pe-4">{{"Status"|translate}}</th>
                        <th>{{"Actions"|translate}}</th>

                      </tr>
                    </thead>
                    <tbody class="list" id="table-purchase-body">
                      <tr *ngFor="let item of listCustomer" class="btn-reveal-trigger">
                        <td class="name"><a class="text-primary fw-semi-bold"
                            [routerLink]="'/reseller/clientDetails/' + item._id">{{item.Contacts.companyName}}</a>
                        </td>
                        <td class="email">
                          {{item.Contacts.email}}</td>
                        <td class="age">{{item.Address.city}}</td>
                        <td class="age">{{item.Address.country}}</td>
                        <td class="age" *ngIf="archive">{{item.Informations.lastUpdateBy}}</td>
                        <td class="age" *ngIf="archive">{{item.Informations.lastArchivedBy}}</td>
                        <td class="age" *ngIf="archive">{{item.Informations.lastArchivedDate.substring(0,10)}}</td>


                        <td style="border-style: hidden;" class="payment align-middle text-end fs-0 white-space-nowrap">
                          <span [ngClass]="getClassStatus(item.Informations.status)">{{item.Informations.status}}
                            <span [ngClass]="getClassIcons(item.Informations.status)" data-fa-transform="shrink-2">
                            </span>

                          </span>
                        </td>


                        <!-- <span
                                  class="checkbox checkbox-slider--b-flat">
                                  <label>
                                      <input type="checkbox"
                                          [checked]="item.Informations.Status ==='Active'"><span></span>
                                  </label>
                              </span> -->



                        <td>
                          <div>
                            <button (click)="delete(item._id)" class="btn btn-link p-0 ms-2" type="button"
                              data-bs-toggle="modal" data-bs-target="#myModal"><span
                                class="text-500 fas fa-trash-alt"></span></button>

                          </div>
                        </td>

                      </tr>

                    </tbody>
                    <tbody class="list" id="table-purchase-body">
                      <tr class="btn-reveal-trigger">
                        
                        <td class="name"><label class="text-primary ">JOHNS</label></td>
                        <td class="email">

                          <label class="text-primary ">Johns@gmail.com</label>
                        </td>
                       
                        <td class="country">

                          <label class="text-primary ">France</label>
                        </td>
                        <td class="status">

                          <label class="text-primary ">France</label>
                        </td>
                          <td class="align-middle text-end fs-0 white-space-nowrap payment">
                            <span class="badge badge rounded-pill badge-soft-success">Approved<span
                                class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
                          </td>


                          <div> <button class="btn btn-link p-0 ms-2" type="button" data-bs-toggle="modal"
                              data-bs-target="#error-modal"><span class="text-500 fas fa-edit"></span></button>
                            <button class="btn btn-link p-0 ms-2" type="button" data-bs-toggle="tooltip"
                              data-bs-placement="top" title="Delete"><span
                                class="text-500 fas fa-trash-alt"></span></button>
                          </div>
                        


                      </tr></tbody>
                  </table>
                </div>
                <div class="text-center d-none" id="pages-table-fallback">
                  <p class="fw-bold fs-1 mt-3">{{"No Page found"|translate}}</p>
                </div>
                <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1"
                    type="button" title="Previous" data-list-pagination="prev"><span
                      class="fas fa-chevron-left"></span></button>
                  <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button"
                    title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>


  <div class="modal fade " id="error-modal" role="dialog" aria-hidden="true">

    <div style="width: 600px;" class="modal-dialog modal-lg modal-dialog-centered" role="document">

      <div class="modal-content position-relative">
        <div class="card">
          <div class="bg-holder bg-card"
            style="background-image:url(../assets/img/icons/spot-illustrations/corner-5.png);"></div>
          <!--/.bg-holder-->
          <div class="card-body position-relative">
            <div class="row g-2 align-items-sm-center">
              <div class="col-auto"><img src="../assets/img/icons/connect-circle.png" alt="" height="55" /></div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col col-lg-8">
                    <h5 class="fs-0 mb-3 mb-sm-0 text-primary">{{"Update Owner"|translate}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="col-lg-14 pe-lg-2">
            <form>
              <div class="card mb-3">
                <div class="h-100">
                  <form>
                    <div class="input-group"><input class="form-control form-control-sm  search" type="search"
                        placeholder="Search for a ..." aria-label="search" />
                      <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span>
                      </div>
                    </div>
                  </form>
                </div>
                <div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{"Send notification email"|translate}}
                    </label>
                  </div>

                </div>
              </div>

            </form>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" id="clos" type="button" data-bs-dismiss="modal">{{"Exit"|translate}}</button>
          <button class="btn btn-primary" type="submit">{{"Submit"|translate}}</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade " id="error-modal1" role="dialog" aria-hidden="true">

    <div style="width: 600px;" class="modal-dialog modal-lg modal-dialog-centered" role="document">

      <div class="modal-content position-relative">
        <div class="card">
          <div class="bg-holder bg-card"
            style="background-image:url(../assets/img/icons/spot-illustrations/corner-5.png);"></div>
          <!--/.bg-holder-->
          <div class="card-body position-relative">
            <div class="row g-2 align-items-sm-center">
              <div class="col-auto"><img src="../assets/img/icons/connect-circle.png" alt="" height="55" /></div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col col-lg-8">
                    <h5 class="fs-0 mb-3 mb-sm-0 text-primary">{{"Add customer"|translate}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="col-lg-14 pe-lg-2">
            <form [formGroup]="myForm">

              <div class="card mb-3">
                <div class="card-header">
                  <h6 class="mb-0">{{"Customer Settings"|translate}}</h6>
                </div>
                <div class="card-body bg-light">
                  <div class="row g-3">
                    <div class="col-lg-6"> <label class="form-label">{{"Custemer name"|translate}}
                      </label><input formControlName="companyName" class="form-control" id="first-name" type="text" />
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"E-mail "|translate}}</label><input
                        formControlName="companyEmail" class="form-control" id="email1" type="text" />
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"City"|translate}}
                      </label><input formControlName="companyPhone" class="form-control" id="first-name" type="text" />
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"Country"|translate}}</label><input
                        formControlName="companyPhone" class="form-control" id="email1" type="text" />
                    </div>


                    <div class="col-lg-6"> <label class="form-label">{{"City"|translate}}
                      </label>
                      <div class="col-auto px-3"> <select formControlName="country"
                          class="form-select form-select-sm mb-3" aria-label="Bulk actions"
                          data-list-filter="data-list-filter">
                          <option selected="" value="">{{"Select City"|translate}}</option>
                          <option value="Tunisia">Tunisia</option>
                          <option value="Algeria">Algeria</option>
                          <option value="France">France</option>
                        </select></div>
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"City"|translate}}</label><input formControlName="city"
                        class="form-control" id="email1" type="text" />
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"Etat"|translate}}
                      </label>
                      <div class="col-auto px-3"> <select class="form-select form-select-sm mb-3"
                          aria-label="Bulk actions" data-list-filter="data-list-filter">
                          <option selected="" value="">{{"Select State"|translate}}</option>

                        </select></div>
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"Code postal"|translate}}</label><input formControlName="zip"
                        class="form-control" id="email1" type="text" />
                    </div>
                    <div class="col-lg-6"> <label class="form-label">{{"street"|translate}}
                      </label><input formControlName="addressLine1" class="form-control" id="first-name"
                        type="textarea" /></div>
                    <div class="col-lg-6"> <label class="form-label">{{"External Customer ID"|translate}}</label><input
                        class="form-control" id="email1" type="text" />
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" #closebutton type="button" data-bs-dismiss="modal">{{"Exit"|translate}}</button>
          <button class="btn btn-primary" (click)="saveCustomer()" type="submit">{{"Submet"|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>
          <h4 class="modal-title w-100">{{"Are you sure?"|translate}}</h4>
        </div>
        <div class="modal-body">
          <p>{{"Do you really want to delete this record? This process cannot be undone."|translate}}</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" id="closs" class="btn btn-secondary" data-bs-dismiss="modal">{{"Cancel"|translate}}</button>
          <button type="button" (click)="confirmDelete()" data-bs-dismiss="modal" class="btn btn-danger">{{"Delete"|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->